/* === Custom properties === */
:root {
    --color-text-black: #222B55;
    --color-text-gray: #6C789D; 
    --color-red: #FF5762;
    --color-white: #FFFFFF;
    --color-background-light-blue: #F5F8FF;
    --color-bright-blue: #415DE8;



    --padding-block-vertical: 112px;
    --padding-block-horisontal: 90px;
    --margin-small: 24px;
    --margin-extra-small: 12px;
    --margin: 32px;

}



* {
    box-sizing: border-box;
}

/* === COMMON === */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
    font-family: Metropolis;
    font-weight: bold;
    src: url("./metropolis.bold.otf") format("opentype");
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--color-text-black);
    overflow-x: hidden;
}

.title {
    font-family: 'Metropolis', Arial, sans-serif;
    font-weight: 700;
}

.section-inner {
    /* display: flex; */
    margin: 0 auto;
    max-width: 1360px;
}

.logo {
    display: inline-block;
    width: 108px;
    height: 24px;
    background: url(../images/logo.svg) no-repeat center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.cta-link {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-red);
    color: #FFFFFF;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.cta-link:hover {
    filter: hue-rotate(-12deg);
    transform: translateY(2px);
}







/* === HEADER === */

.header {
    position: fixed; 
    top: 0;
    flex-direction: row;
    width: 100%; 
    height: 80px;
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 2px rgb(78 82 112 / 20%);
}

.header .section-inner {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__left {
    display: flex;
    flex-direction: row; 
    align-items: center;
}


.header-nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

.header-nav__item {
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    align-items: center;

}

.header__right {
    display: flex;
    align-items: center;
}

.dropdown__arrow {
    width: 24px;
    height: 24px;
}

.language-dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: 32px;

}

.language-dropdown__lang {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-dropdown__flag-icon {
    width: 24px;
    height: 24px;
}

.header__sign-in {
    /* width: 96px;
    height: 40px; */
    padding: 10px 24px;
    margin-right: 12px;
    border-radius: 8px;
    color: var(--color-red);
    font-weight: 600;
}

.header__cta {
    /* width: 162px;
    height: 40px; */
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--color-red);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}




/* === HERO === */

.hero {
    margin-top: 80px;
    background-color: var(--color-background-light-blue);
    margin-right: 0;
    overflow: hidden;
}

@media (max-width: 1370px) {
    .hero {
        font-size: 95%;
    }
    
}

.hero .section-inner {
    max-width: 1180px;
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 20px;
    padding: var(--padding-block-vertical) 0;
}


.hero__content {
    max-width: 680px;

}

.hero__title {
    font-size: 68px;
    margin: 0;
    line-height: 68px;
    font-stretch: ultra-condensed;
}

.hero__description {
    max-width: 650px;
    margin: var(--margin-small) 0;
    font-size: 24px;
    line-height: 38.4px;
    
}

.hero__list {
    padding-inline-start: 0;
    font-size: 18px;
    line-height: 28.8px;
    margin-bottom: 0;
}

.icon-bullet {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.hero__text {
    display: flex; 
    gap: 5px;
    align-items: center;
    margin-bottom: var(--margin-extra-small);

}

.hero__text:last-of-type {
    margin-bottom: 0;
}

.hero__cta {
    margin: var(--margin) 0;
    padding: 18px 40px;
    border-radius: 10px;
    font-size: 22px;
}

.hero__rating-wrapper {
    width: 264px;
    height: 18px;
    background: url(../images/Trustpilot=Light\ Blue.png) no-repeat center;
}


.hero__video-container {
    position: relative;
    width: 480px;
    height: 432px;
    left: -112px;
    top: -39px;
    
}

.hero__bg {
    /* position: relative; */
    
}


.hero__phone {
    position: absolute;
    top: 105px;
    left: 51px;
}

.hero__card {
    position: absolute;
    z-index: 2; 
    top: 565px; 
    left: 64px; 
    display: flex;
    align-items: center;
    gap: 12px;
    width: 288px;
    height: 88px; 
    border-radius: 20px;
    padding: 20px;
    background-color: var(--color-bright-blue);
    color: var(--color-white);


}

.hero__card-text {
    font-family: 'Metropolis', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    line-height: 24px;
    
}

.hero__play {
    position: absolute;
    top: 291px;
    left: 274px;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.hero__play:hover {
    filter: brightness(1.35);
}





/* === VIRTUAL CARD === */

.virtual-card__cta {
    height: 60px;
    width: 163px;
    border-radius: 10px;
    padding: 18px 40px;
    background-color: var(--color-red);
    color: #FFFFFF;
    font-size: 22px;
    line-height: 24px;
}

.virtual-card__list {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}



/* === CONTROL TEAM === */

.control-team .section-inner {
    flex-direction: column;
}

.control-team__feature {
    display: flex;
    
}


/* === STEPS === */

.steps__list {
    /* list-style: none; */
    display: flex;
}


/* === ABOUT US === */

.about-us__slides-wrapper {
    position: relative;
    max-width: 100%;
}

.about-us__bullets {
    display: flex;

}



/* === FOOTER === */

.footer__logo-link {
    display: inline-block;
    width: 108px;
    height: 24px;
    background: url(../images/logo.svg) no-repeat center;

}

.footer__socials {
    /* list-style: none;  */
}

.socials__link {
    display: inline-block;
    width: 24px; 
    height: 25px;
}


.socials__link_facebook {
    background: url(../images/icon-facebook.svg) no-repeat center;
    
}

.socials__link_instagram {
    background: url(../images/icon-instagram.svg) no-repeat center;

}

.socials__link_linkedin {
    background: url(../images/icon-linkedin.svg) no-repeat center;
}


.footer__store-badges {
    /* list-style: none; */
}


.store-badges__link_appstore {
    display: inline-block;
    width: 136px;
    height: 41px;
    background: url(../images/get-appstore.svg) no-repeat center;
}

.store-badges__link_googleplay {
    display: inline-block;
    width: 138px;
    height: 41px;
    background: url(../images/get-googleplay.svg) no-repeat center;
}

.footer__legal-links {
    /* list-style: none; */
}

.footer__legal-link {
    /* text-decoration: none; */
}